cms_project/views.*
cms_project/forms.*
cms_project/migrations/
cms_project/templatetags/
cms_project/__pycache__/
cms_project/migrations/__pycache__/
.env
idea
.idea/
venv/
db.sqlite3
db.sqlite3*
00*.py
*.pyc
settings_secret.py
.vscode/
media/
some/
